{% extends 'base.html' %}

{% block title %}Site Manager{% endblock %}

{% block content %}
    <div class="">

    </div>
    <div class="siteManager-sites">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">etoe hotel</h5>
                <h6 class="card-text">
                    Loaded model:
                </h6>
                <ul>
                    <li>Stayforge</li>
                </ul>
                <ul>
                    <li>Access</li>
                </ul>
                <hr>
                <a href="./site-id" class="btn">Management</a>
            </div>
        </div>
    </div>
{% endblock %}